@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}
body{
  background: var(--bg-url) no-repeat center/cover;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

:root{
  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --border-img: #fff;
  --social-links-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
  --highlight-color: rgba(255, 255, 255, 0.2);
}
.light{
  --text-color:#000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --suface-color: rgba(0,0,0,0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --border-img: #000;
  --switch-bg-url: url(./assets/sun.svg);
  --highlight-color:rgba(0, 0, 0, 0.1);
}

#container{
  margin: 58px auto 0px;
  width: 368px;
}

#container img{
  width: 112px;
  border-radius: 365px;
  border: 3px solid var(--border-img); /* Aqui está a borda */
}

#profile{
  text-align: center;
  padding: 24px;
}

#profile p {
  font-weight:  bold;
  line-height: 24px;
  margin-top: 8px;
}
#switch{
  width: 64px;
  position: relative;
  margin: 4px auto;
}
#switch button{
  width: 32px;
  height: 32px;
  border: 0;
  background: #fff var(--switch-bg-url) no-repeat center;
  border-radius: 50%;
  z-index: 1;
  top: 50%;
  right: 0;
  position: absolute;
  transform: translateY(-50%);
  animation: slide-back 0.3s forwards;
}
#switch button:hover{
  outline: 8px solid var(--highlight-color);
}
#switch span{
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: block;
  border-radius: 9999px;
}

.light #switch button{
  animation: slide-in 0.4s forwards;
  right: 0;
  left: initial;
}

#links{
  margin-top: 20px;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#links li {
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    justify-content: center;
    padding: 16px 24px;
    background-color: var(--suface-color);
}

#links li a {
   text-decoration: none;
   transition: background 0.2s;
}

#links li:hover{
  background-color: var(--surface-color-hover);
}

#links li a:hover{
  text-decoration: underline;
}


#social-links{
  display: flex;

  padding: 24px 0;
  font-size: 24px;
  justify-content: center;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
}
#social-links a:hover{
  background-color: var(--social-links-hover);
  border-radius: 50%;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}